.background-login-form {
    background-image: url("#{$image-path}/fondocalidad.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom center;
}