// Your custom variables
$image-path: "./assets/img";
$roboto-font-path: "./assets/font/roboto/";
$icomoon-font-path: "./assets/font/icons" !default;

// custom vars 
$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       0rem;
$modal-header-padding:              0.1rem 1rem ;


// custom classes
html {
  font-size: 14px;
  height: 100%;
}
body {
  height: 100%;
}
.modal-header{
  background-color: #0d47a1;
  color: white !important;
}
.modal-header .close{
  color: white !important;
  opacity: 10;
}
$icomoon-font-family: "cramer" !default;

$icon-fingerprint: "\e900";